<!DOCTYPE html>
<html lang="en">

<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>

<style>
    #HEADER{
        padding: 50px 0;
        font-weight: 400;
        text-align: center;
        text-align: center;

    }

    #fileupload{
        border-left: 6px solid red;
        background-color: lightgrey;
    }

    div{
        text-align: center;
    }

    textarea{

    }


</style>


<body>
<h1 id = "HEADER" class = "header">Insight UBC</h1>

<div>

    <input type="file" name="fileupload" id="fileupload" />

    <button id="upload">Upload</button><br/>
    <textarea id="txtQuery"></textarea><br/>
    <button id="btnSubmit">Submit</button>
    <table id="Results"></table>
</div>


</body>
<script>
    src='myScript.js'
</script>

<body>

</body>
</html>